services:
  nextui:
    build:
      context: ./nextui
      dockerfile: Dockerfile
    image: "pmcgee/starsongs.nextui:0.2.0"
    ports:
      - "80:3000"
    environment:
      - NEXT_PUBLIC_SONGDATA_API_URL=http://songdata:8086
    networks:
      - front-tier
      - back-tier
    depends_on:
      - songdata
  songdata:
    image: "pmcgee/starsongs.songdata:0.1.1"
    ports:
      - "8086:8086"
    networks:
      - back-tier
networks:
  front-tier: {}
  back-tier: {}